/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 3px;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* STYLES */
body {
  /* background: #fff9a8; */
  /* background: #fffcd4; */
  /* background: rgb(255, 254, 250);
  background: linear-gradient(
    135deg,
    rgba(255, 254, 250, 1) 0%,
    rgba(255, 252, 212, 1) 100%
  ); */
  height: auto;
  width: 100%;
}

.dots-container-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100vw;
  z-index: -100;
}

.dots-container {
  /* bottom: -300px; */
  display: flex;
  height: 300%;
  overflow: hidden;
  /* right: -840px; */
  transform: rotate(45deg);
  transform-origin: left;
  width: 1000px;
  /* z-index: -1; */
}

.dots {
  background: white;
  background-image: radial-gradient(#fff9a8 20%, transparent 20%),
    radial-gradient(#fff9a8 20%, transparent 20%);
  background-position: 60px 0, 160px 100px;
  background-size: 200px 200px;
  height: 100%;
  /* right: -200px; */
  /* position: fixed; */
  /* bottom: -320px; */
  min-width: 300px;
  z-index: 0;
}

.stripes {
  background: repeating-linear-gradient(
    90deg,
    #ffffff,
    #ffffff 10%,
    #fff9a8 10%,
    #fff9a8 13%
  );
  height: 100%;
  min-width: 700px;
  z-index: -2;
}

.container {
  display: none;
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: 60px 0 30px;
  /* width: fit-content; */
}

.content {
  width: 100%;
  padding-left: 10px;
  padding-right: 32px;
}

h1 {
  background-color: #2466ff;
  /* box-shadow: 18px 22px #181818; */
  color: white;
  font-family: europa, sans-serif;
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  padding: 0 24px 0 20px;
  margin: 0 0 50px;
  width: fit-content;
}

form,
.output {
  background-color: white;
  /* background-color: #fffcd4; */
  /* border: 12px solid #2466ff; */
  border: 1px solid #2466ff;
  box-shadow: 18px 22px #181818;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 0 50px;
  padding: 20px 20px 32px;
  width: 100%;
}

label {
  color: #2466ff;
  font-family: source-code-pro, monospace;
  font-size: 1.6rem;
  font-style: regular;
  font-weight: 400;
  margin-bottom: 20px;
}

input {
  background: white;
  border: 1px solid #2466ff;
  font-family: source-code-pro, monospace;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 10px;
}

button {
  background-color: #409fff;
  border: none;
  border-radius: 20px;
  /* box-shadow: 10px 12px black; */
  color: white;
  font-family: europa, sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 700;
  height: 40px;
  padding: 8px 24px;
  width: fit-content;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin: 0 0 20px; */
  padding-right: 32px;
  width: 100%;
}

.github-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.github-logo {
  filter: invert(44%) sepia(83%) saturate(5295%) hue-rotate(215deg)
    brightness(98%) contrast(105%);
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

.github-text {
  color: #2466ff;
  font-family: source-code-pro, monospace;
  font-size: 1.6rem;
  font-style: regular;
  font-weight: 400;
}
